<div>
  {{{mdText}}}
</div>

<p class="center">
  Pick your country:
  {{completable-input value=completableValue placeholder='start typing and completion will appear'
    complements=complements enter='completableEnterPressed' minForComplement=3
    selectedCompletion=selectedCompletion
  }}
  <br/>
  Value: {{completableValue}} <br/>
  Selected completion: {{selectedCompletion}}
</p>

