<h1>Completable input with style</h1>

<!--<div class="jumbotron">-->
  {{{mdText}}}
<!--</div>-->


<div class="jumbotron">
  Here is an example of such customization
</div>
<p class="custom text-center">
  {{completable-input value=completableValue placeholder='start typing and completion will appear'
  complements=complements selectedCompletion=currentCompletion
  enter='completableEnterPressed' minForComplement=minForComplement
  potentialComplements=potentialComplements
  inFocus=inFocus activeComplement=activeComplement
  }}
</p>

