
<p class="custom text-center">
  Select something cool:
  {{completable-input placeholder='start typing and completion will appear'
  complements=complements enter='completableEnterPressed' minForComplement=0
  }}
</p>

<!--<div class="jumbotron">-->
  {{{mdText}}}
<!--</div>-->



